<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>THYMELEAF COURSE</h2>
<p>1st car:</p>
<span th:text="${carId1.getMark()}"></span>
<span th:text="${carId1.getModel()}"></span>

<p>2nd car:</p>
<span th:text="${carId2.getMark()}"></span>
<span th:text="${carId2.getModel()}"></span>

<p>3rd car:</p>
<span th:text="${carId3.getMark()}"></span>
<span th:text="${carId3.getModel()}"></span>

</body>
</html>